pandas
numpy>=1.16.0
plotly
findspark
iso8601
lxml
snorkel
# snorkel-metal
pyspark
requests
frozendict
bs4
# tensorflow-gpu
# tf-nightly-gpu
tf-nightly-gpu-2.0-preview
sklearn
xgboost
seaborn
gensim
cupy-cuda100
gpustat
nltk
tensorflow_hub==0.5.0
tqdm
keras_metrics
pyarrow
s3fs
texttable
imbalanced-learn
jupyter
keras-rectified-adam
