pandas
numpy
plotly
findspark
iso8601
lxml
# snorkel
# snorkel-metal
pyspark
requests
frozendict
bs4
keras
# tensorflow-gpu
tf-nightly-gpu
# tf-nightly-gpu-2.0-preview
sklearn
xgboost
seaborn
gensim
cupy-cuda100
gpustat
nltk
tensorflow-hub
tqdm
keras_metrics
