boto3
beautifulsoup4
# cupy-cuda100
findspark
frozendict
gensim
gpustat
iso8601
jupyter
lxml
nltk
numpy>=1.16.0
pandas==0.24.2
pip-tools
pyarrow
pyspark
requests
s3fs
seaborn
scikit-learn
snorkel
# snorkel-metal
spacy
# tensorboard
# tensorflow-gpu==2.0.0rc0
tensorflow-hub==0.5.0
textblob
texttable
tqdm
wandb
